<ion-view title="添加频道">
	<ion-content>
		<form name="form" ng-submit="add()">
			<div class="list list-inset">
				<label class="item item-input">
					<input type="text" ng-model="item.name" placeholder="名称">
				</label>
				<label class="item item-input">
					<input type="text" ng-model="item.url" placeholder="rss地址">
				</label>
				<label class="item item-input">
					<input type="text" ng-model="item.logo" placeholder="logo">
				</label>
				<label class="item item-input">
					<input type="text" ng-model="item.desc" placeholder="备注" value="36氪">
				</label>
				<button ng-disabled="form.$invalid" class="button button-block button-assertive">
					提交
				</button>
			</div>
		</form>

	</ion-content>
</ion-view>